<!DOCTYPE html>
<html>

<head>
  <title>Abundance</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header>
    <h1>Abundance</h1>
  </header>
  <main>
    <div class="container">
      {{{body}}}
    </div>
  </main>
  <footer>
    <p>Coded by Emmy</p>
  </footer>
</body>

</html>