<!DOCTYPE html>
<html>

<head>
  <title>Abundance</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header>
    <h1><a href='/'>Abundance</a></h1>
  </header>
  <main>
    {{{body}}}
  </main>
  <footer>
    <p>View <a target="_blank" href="https://github.com/elfein/project-two-abundance">GitHub</a> Repo</p>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/javascripts/script.js"></script>
</body>

</html>