html {
  background-image: url('../images/fall-creek-bg.jpg');
  background-size: cover;
  height: 100%;
  font-family: "Gill Sans", Helvetica, Arial, sans-serif;
}

body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

img {
  max-width: 600px;
  width: 100%;
}

header > h1 > a {
  font-size: 0.8em;
  padding: .5em;
  border: 1px #ffffff solid;
  background: #012218;
  max-width: 50%;
  margin: auto;
  text-decoration: none;
  color: #ffffff;
}

h1 {
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 0.2em;
}

header {
  border: 1px #ffffff solid;
  padding: 30px 0;
}

main {
  background-color: rgb(233, 225, 211);
  padding: 30px;
  flex: 1;
  color: rgb(11, 20, 5);
}

.container {
  border: 1px #ffffff solid;
  min-height: 100%;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1030px;
  margin: 0 auto;
}

.collectorBox, .collectionBox, .itemBox {
  margin: 0 auto;
  position: relative;
  text-align: center;
  height: 100px;
  width: 100%;
  max-width: 500px;
  background-size: cover;
  background-position-y: -50%;
  background-color: rgba(255,255,255,0.5);
  color: white;
}


span {
  width: 100%;
  height: 100%;
  max-width: 500px;
  letter-spacing: 0.2em;
  font-weight: 400;
  font-size: 1.8em;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.outer:nth-child(even) > a > div > span {
  background-color: rgba(160, 145, 32, 0.8);
}

.outer:nth-child(odd) > a > div > span {
  background-color: rgba(120, 143, 39, 0.8);
}

.outer {
  margin: 10px auto;
  max-width: 500px;
  width: 100%;
  transform: translateZ(-1000px);
}

.outer:hover {
  transform: scale(1.03);
  transform: translateZ(1000);
}

a {
  color: rgb(11, 20, 5);
  text-decoration: none;
}

a:hover {
  color: rgb(212, 163, 46);
}

ul {
  margin: 20px;
  padding: 0;
  list-style-type: none;
}

button {
  max-width: 1020px;
  width: 100%;
  padding: 10px 2vw;
  background: rgb(212, 163, 46);
  border: none;
  color: #ffffff;
  font-size: 1em;
  letter-spacing: 0.1em;
  font-weight: 200;
  margin: 30px 0;
}

footer {
  border: 1px #ffffff solid;
  padding: 15px 0;
  color: rgb(255,255,255);
  background-color: rgba(11, 20, 5, 0.5);
}

footer > p {
  max-width: 50%;
  margin: auto;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.2em;
}

@media (max-width: 1061px) {
  button {
    max-width: 500px;
  }

  .list {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

@media only screen and (max-device-width: 480px) {
  .collectorBox, .collectionBox, .itemBox {
    max-width: 1000px;
    height: 160px;
  }

  .outer {
    max-width: 1000px;
  }

  span, h1 {
    max-width: 1000px;
    font-size: 3em;
  }

  a > button {
    font-size: 2em;
  }
}