<h1>Edit This Collector</h1>

<form action="/users/{{user._id}}?_method=PUT" method="POST">
    <div>Name: <input type='text' name='name' value="{{user.name}}"></div>
    <div><input type='submit' value='Update Collector'></div>
</form>

<form action="/users/{{user._id}}?_method=DELETE" method="POST">
<div><input id="delete" type='submit' value='Delete Collector?'></div>
</form>

<a href="/users/{{user._id}}">Cancel</a>